body {
  background-color: #F3B18C;
}

.game {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 254px;
  height: 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 65px;
  color: #0026ED;
  margin: 0 auto;
}

.content {
  width: 300px;
}

button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  outline: 10px solid #000000;
  border-radius: 10px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Finger Paint';
  font-size: 64px;
}

button:hover {
  background-color: rgb(192, 188, 188);

}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 32px;
}

.player-x {
  color: #FF0505;
}

.player-x:hover {
  background-color: #FF0505;
  color: #FFF;
}

.player-o {
  color: #0026ED;
}

.player-o:hover {
  background-color: #0026ED;
  color: #FFF;
}

.player-x-win {
  outline-color: #FF0505;
}

.player-o-win {
  outline-color: #0026ED;
}